<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body  align="middle">
<div class="container">
    <h1>Студенты</h1>
    <div align="middle">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Дата рождения</th>
                <th>Группа</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="s : ${students}">
                <td th:text="${s.name}"/>
                <td th:text="${s.surname}"/>
                <td th:text="${s.birthDate}"/>
                <td th:text="${s.groupName}"/>
                <td>
                    <a th:href="@{'/students/delete/' + ${s.id}}" th:text="Удалить"/>
                </td>
            </tr>
            </tbody>
        </table>

        <form th:action="@{/students/add}"
              th:object="${student}" method="post" class="form-horizontal">
            <div >
                <input name="name" placeholder="name" class="form-control"/>
                <input name="surname" placeholder="surname" class="form-control"/>
                <input name="birthDate" placeholder="birthDate" class="form-control"/>
                <input name="groupName" placeholder="groupName" class="form-control"/>
            </div>

            <div style="margin-top: 10px" class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>